/* Global Styles */
body {
  font-family: "Noto Serif Kannada";
}
section {
  padding: 40px;
  text-align: center;
}

h2,
h3 {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--text-color);
  margin: 0 auto;
  max-width: 900px;
}

/* About Section Styles */
#about {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

/* FAQ Section Styles */
#faq .faq-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#faq .faq-item p {
  margin-top: 10px;
}

/* Privacy Policy Section Styles */
#privacy-policy .policy-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#privacy-policy .policy-item h3 {
  font-size: 1.5rem;
  color: red;
}

/* Responsive Styles */
@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }

  section {
    padding: 20px;
  }

  #about,
  #faq,
  #privacy-policy {
    padding: 20px;
  }

  .faq-item,
  .policy-item {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }
}
